@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans&family=Orbitron:wght@500&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.myWorks {
    width: 100%;
    /* height: 100vh; */
    background-color: black;
    color: rgb(122, 119, 119);
    display: flex;
    align-items: center;
    justify-content: center;
}
.myWorks ul li{
  list-style: none;
  margin: 20px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}



.div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
  }
  
  .div:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .div:hover::before, .div:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #FDA8CF;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .div:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }

.headtitle span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
    
}
.line {
    width: 50px;
    background-color: #eee;
    padding: 2px;
    margin: 5px;
} 
.grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
}


 #section {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
 }
.item {
  width: 90%;
  display: flex;
  justify-content: left;
  padding: 100px;
  align-items: center;
  /* margin-left: 50px;
  margin-top: 50px; */
  height: 100px;
  border-bottom: 1px solid   rgba(255,255,255,.2);
  transform: translateY(45%);
  transition: width 1s;
  overflow: hidden;
  
}

.fade-in-element {
  position: relative;
   /* animation-name: fade;
  animation-duration: 3s;  */
  transform: translateY(0);
  transition: opacity 0.7s, transform 0.7s;
}
h1 {
  color: #FFF;
  font-family: sans-serif;
  position: absolute;
  z-index: 99999;
  cursor: pointer;
  transition: all .3s cubic-bezier(.05,.03,.35,1);
}
h2 {
  
  color: #FFF;
  font-family: sans-serif;
  font-weight: normal!important;
  font-size: 12px;
  opacity: .5;
 margin-left: 500px;
}
h3 {
  font-family: "Montserrat";
  color: rgba(255,255,255,.5);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: normal;
  /* margin-right: 990px; */
  margin-top: 50px;
 }

hr {
  border: 0px;
  height: 1px;
  background-color: rgba(255,255,255,.2);
  width: 90%;
 
}
h1:hover {
  transform: scale(1.2);
  opacity: .5;
}
.imgview {
  width: 300px;
  position: absolute;
  /* opacity: .2; */
  visibility: visible;
  display: block;
  transform: scale(0);
  transition: all .15s cubic-bezier(.05,.03,.35,1);
}
/* Show and scale up on hover */
.ishover {
  visibility: visible!important;
  transform: scale(1);
}